<ng-container *ngIf="(auth.user | async) || {} as user">
  <ion-card *ngFor=" let post of posts | async; trackBy: trackByFn ">
    <img src="https://dummyimage.com/200x100&text={{post.content}}">
    <ion-card-content text-center>

      <ion-row no-padding>
        <ion-col>
          <h1>{{ post.content }}</h1>
        </ion-col>

        <ion-col text-right>
          <p>Rating : {{post.rating || 5}}</p>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <p>{{post.nama || "Unknown"}}</p>
      </ion-row>
      <hr>

      <ion-row no-padding>
        <ion-col>
          <button ion-button full color="secondary" (tap)="download(post.materiUrl, post.content)">
            Download
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button full color="danger" (tap)="gotoSoal(post.id, post.nama, post.content)">
            Soal
          </button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ng-container>
